server:
  port: 5000
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:5001
              predicates:
                - Path=/api/v1/users/**,/api/v1/auth/**
#              filters:
#                # 1. Add the Circuit Breaker Filter
#                - name: CircuitBreaker
#                  args:
#                    # 2. Reference the Resilience4j instance name
#                    name: userService
#                    # 3. Define a fallback URL if the CB is open
#                    fallbackUri: forward:/fallback/users
            - id: notification-service
              uri: http://localhost:5002
              predicates:
                  - Path=/api/v1/notifications/**
            - id: template-service
              uri: ${TEMPLATE_URL:https://templateservice-api.up.railway.app}
              predicates:
                - Path=/api/v1/templates/**
auth:
  token:
    expirationInMils: 3600000
    jwtSecret: 36763979244226452948404D635166546A576D5A7134743777217A25432A462D
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    reactor.netty: DEBUG
resilience4j:
  circuitbreaker:
    instances:
      userService:
        register-health-indicator: true
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        sliding-window-size: 10
  retry:
    instances:
      myRetry:
        max-attempts: 3
        wait-duration: 2s



