spring:
  application:
    name: notification_dispatcher
  rabbitmq:
    addresses: amqp://guest:guest@localhost:5672
    username: guest
    password: guest
rabbitmq:
  exchange:
    name: notifications.direct
  queues:
    email: email.queue
    push: push.queue
    failed: failed.queue
  routing-keys:
    email: email
    push: push
    failed: failed
server:
  port: 5002
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
resilience4j:
  circuitbreaker:
    instances:
      userService:
        register-health-indicator: true
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        sliding-window-size: 10
  retry:
    instances:
      myRetry:
        max-attempts: 3
        wait-duration: 2s
